.articleContent > h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 1.5em;
  margin-block: 1.5rem;
}
.articleContent > h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5em;
  margin-block: 1.5rem;
}
.articleContent > h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5em;
  margin-block: 1.5rem;
}
.articleContent > h4 {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.5em;
  margin-block: 1.5rem;
}
.articleContent > h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5em;
  margin-block: 1.5rem;
}
.articleContent > h6 {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5em;
  margin-block: 1.5rem;
}
.articleContent > p {
  font-size: 22px;
  font-weight: 100;
  line-height: 1.5em;
  margin-block: 1.5rem;
}
.articleContent > blockquote {
  font-size: 16px;
  font-weight: 400;
}
.articleContent > ul {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  margin-block: 1.5rem;
}
.articleContent > ol {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  margin-block: 1.5rem;
}
.articleContent > pre {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  margin-block: 1.5rem;
}
.articleContent > code {
  font-size: 16px;
  font-weight: 400;
  background: gray;
  line-height: 1.5em;
  margin-block: 1.5rem;
}
.articleContent {
  line-height: 1.2em;
  line-height: 1.5em;
  margin-block: 1.5rem;
}
.articleContent > details {
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5em;
  margin-block: 1.5rem;
}
.articleContent > hr {
  background: linear-gradient(to right, transparent, white, transparent);
  border: 0;
  height: 1px;
}
